.idea
TestSFML.cbp
CMakeLists.txt
cmake-build-debug
update.command
# CodeBlocks
bin
obj
bin\debug
obj\debug
TestSFML.cbp
TestSFML.depend
TestSFML.layout
stockfish.exe
clear_workspace.command
makefile
CheckMate.out
.vscode/settings.json
Proiect.code-workspace
